Source: se3-clonage
Section: misc
Priority: optional
Maintainer: Franck molle <franck.molle@ac-rouen.fr>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.1

Package: se3-clonage
Architecture: all
Depends: se3(>= 2.0.5900), se3-dhcp, atftpd, libdigest-sha1-perl, syslinux
Description: Clonage des postes clients du serveur se3

